<h1>hello world</h1>
<p>hello my name's {{owner}}</p>
<div>
<form action="calculer" method="POST">
<input type="text" name="num1" id=""/>
<input type="text" name="num2" id=""/>
<input type="submit" value="calculer"/>


</form>
<p>result : {{result}}</p>

</div>